<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>404 - PAGINA NO EXISTE</title>
  </head>

  <body>
    <div class="cover">
      <h1>
        NO AUTORIZADO
        <small>Error 401</small>
        <button mat-raised-button color="accent" [routerLink]="['/login']">login</button>
      </h1>
      
    </div>
  </body>
  <div style="text-align: center">
    <!--
    <img src="assets/Error404.png" width="630" height="513">
    -->
  </div>
</html>
