<!--submit para enviar los datos-->
<form [formGroup]="Vehform" #formVehiculo="ngForm" (ngSubmit)="guardar()">
  <table class="example-full-width" cellspacing="0">
    <tr>
      <td>
        <mat-form-field class="example-full-width">
          <mat-label>Placa</mat-label>
          <input matInput placeholder="Placa" formControlName="placa"/>
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="example-full-width">
          <mat-label>Modelo</mat-label>
          <input matInput placeholder="Modelo" formControlName="modelo"/>
        </mat-form-field>
      </td>
    </tr>
  </table>

  <table class="example-full-width" cellspacing="0">
    <tr>
      <td>
        <mat-form-field class="example-full-width">
          <mat-label>Marca</mat-label>
          <input matInput placeholder="Marca" formControlName="marca"/>
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="example-full-width">
          <mat-label>Tipo vehículo</mat-label>
          <input matInput placeholder="tipo Vehículo" formControlName="tipoVehiuclo"/>
        </mat-form-field>
      </td>
    </tr>
  </table>

  <table class="example-full-width" cellspacing="0">
    <tr>
      <td>
        <mat-form-field class="example-full-width">
          <mat-label>Capacidad</mat-label>
          <input matInput placeholder="Capacidad" formControlName="capacidad"/>
        </mat-form-field>
      </td>
      
    </tr>
  </table>

  <button
    mat-fab
    color="accent"
    style="float: right"
    type="submit"
    [disabled]="formVehiculo.invalid"
  >
    <mat-icon>save</mat-icon>
  </button>

  <button
    mat-fab
    color="accent"
    style="float: right"
    [routerLink]="['/vehiculo']"
  >
    <mat-icon>cancel</mat-icon>
  </button>
</form>
