<!--submit para enviar los datos-->
<form
  [formGroup]="Vehform"
  #formVehiculo="ngForm"
  (ngSubmit)="guardar()"
  class="container"
>
  <table class="example-full-width" cellspacing="0">
    <tr>
      <td>
        <mat-form-field class="example-full-width">
          <mat-label>Placa</mat-label>
          <input matInput placeholder="Placa" formControlName="placa" />
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="example-full-width">
          <mat-label>Modelo</mat-label>
          <input matInput placeholder="Modelo" formControlName="modelo" />
        </mat-form-field>
      </td>
    </tr>
  </table>

  <table class="example-full-width" cellspacing="0">
    <tr>
      <td>
        <mat-form-field class="example-full-width">
          <mat-label>Marca</mat-label>
          <mat-select formControlName="marca" [(ngModel)]="selected">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let pos of positions" [value]="pos.value">
              {{pos.value}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="example-full-width">
          <mat-label>Tipo Vehículo</mat-label>
          <mat-select formControlName="tipoVehiuclo" [(ngModel)]="selTipo">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let tip of tipVeh" [value]="tip.tipo">
              {{tip.tipo}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </td>
    </tr>
  </table>

  <table class="example-full-width" cellspacing="0">
    <tr>
      <td>
        <mat-form-field class="example-full-width">
          <mat-label>Capacidad</mat-label>
          <input matInput placeholder="Capacidad" formControlName="capacidad" />
        </mat-form-field>
      </td>
    </tr>
  </table>

  <button
    mat-fab
    color="accent"
    style="float: right"
    type="submit"
    [disabled]="formVehiculo.invalid"
  >
    <mat-icon>save</mat-icon>
  </button>

  <button
    mat-fab
    color="accent"
    style="float: right"
    [routerLink]="['/vehiculo']"
  >
    <mat-icon>cancel</mat-icon>
  </button>
</form>
