<div class="container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Login</mat-card-title>
      <br />
    </mat-card-header>
    <mat-card-content>
      <div align="center">
        <img src="assets/user.png " width="100" height="100" />
      </div>

        <mat-form-field>
          <input
            matInput
            #modelInput
            placeholder="usuario"
            [ngModel]="usuario"
            (ngModelChange)="valida"
            minlength="3"
            maxlength="7"
            required
          />
        </mat-form-field>
        <br />
        <mat-form-field>
          <input
            matInput
            #modelInput
            placeholder="Contraseña"
            [(ngModel)]="contrasena"
            (ngModelChange)="validapass"
            type="password"
            minlength="6"
            maxlength="15"
          />
        </mat-form-field>
        <mat-card-actions>
          <button
            mat-raised-button
            (click)="login()"
            [disabled]="modelIsvalid && modelIsValid"
            color="accent"
            type="submit"
          >
            Ingresar
          </button>
        </mat-card-actions>
    </mat-card-content>
  </mat-card>
</div>
