<div class="container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Login</mat-card-title>
      <br />
    </mat-card-header>
    <mat-card-content>
      <div align="center">
        <img src="assets/user.png " width="100" height="100" />
      </div>

        <mat-form-field>
          <mat-label>Usuario</mat-label>
          <input
            matInput
            placeholder="usuario"
            [(ngModel)]="usuario"
            required
          />
        </mat-form-field>
        <br />
        <mat-form-field>
          <mat-label>Contraseña</mat-label>
          <input
            matInput
            placeholder="Contraseña"
            [(ngModel)]="contrasena"
            type="password"
            minlength="6"
            maxlength="15"
          />
        </mat-form-field>
        
          <button
            mat-raised-button
            (click)="login()"
            color="accent"
          >
            Ingresar
          </button>
        
    </mat-card-content>
  </mat-card>
</div>
