.container{
    align-items: center;
    justify-content: center;
    width: 300px;
    margin-top: 100px;
    margin-left: 40%;
}

mat-card-header{
    justify-content: center;
}

mat-card-content{
    justify-content: center;
} 

mat-form-field{
    width: 100%;
}

