<div class="example-container">

  <!--[hidden]="route.children.length !== 0 " -->
  <!--*ngIf="isLoggedIn$ | async as isLoggedIn"-->
  <div >
    <mat-toolbar color="accent" class="example-toolbar" > 
      
      <button mat-icon-button (click)="drawer.toggle()">
        <mat-icon *ngIf="!drawer.opened">menu</mat-icon>
        <mat-icon *ngIf="drawer.opened">close</mat-icon>
      </button>   
        <h1 class="example-app-name">ENVIOS UDEC</h1>
  
        <span class="example-spacer"></span>
  
        <button mat-icon-button [matMenuTriggerFor]="menu">
              <mat-icon>more_vert</mat-icon>
          </button>
  
          <mat-menu #menu="matMenu">
              <button mat-menu-item [routerLink]="['/perfil']">
                  <mat-icon>account_box</mat-icon>
                  <span>Mi Perfil</span>
              </button>
              <button mat-menu-item (click)="onLogout()" *ngIf="isLoggedIn$ | async">
                  <mat-icon>exit_to_app</mat-icon>
                  <span>Cerrar Sesión</span>
              </button>
          </mat-menu>
    
    </mat-toolbar>
  </div>
  
  <div [hidden]="flacProgressBar">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>

  <mat-drawer-container class="example-sidenav-content" autosize>
    <mat-drawer #drawer style="width: 200px" mode="side">

        <img src="assets/udec_escudo.png" width="128" style="margin-left: 20px;" />
  
        <button mat-menu-item (click)="drawer.toggle()" style="cursor: pointer" [routerLink]="['/buscar']">
            <mat-icon>search</mat-icon>
            <span>Buscar</span>
        </button>
        <mat-divider></mat-divider>  
        
        <button mat-menu-item (click)="drawer.toggle()" style="cursor: pointer" [routerLink]="['/ingresar']">
          <mat-icon>manage accounts</mat-icon>
          <span>Ingresar</span>
        </button>
        <mat-divider></mat-divider>  

        <button mat-menu-item (click)="drawer.toggle()" style="cursor: pointer" [routerLink]="['/editar']">
          <mat-icon>edit</mat-icon>
          <span>Editar</span>
        </button>
        <mat-divider></mat-divider>  

        <button mat-menu-item (click)="drawer.toggle()" style="cursor: pointer" [routerLink]="['/departamento']">
          <mat-icon>room</mat-icon>
          <span>Departamento</span>
        </button>
        <mat-divider></mat-divider>      
        
        <button mat-menu-item (click)="drawer.toggle()" style="cursor: pointer" [routerLink]="['/vehiculo']">
          <mat-icon>local_shipping</mat-icon>
          <span>Vehículo</span>
        </button>
        <mat-divider></mat-divider>  
      
    </mat-drawer>

      <div class="example-sidenav-content">
        <!--  
        <div *ngIf="loaderService.isLoading | async" class="loader-container">
          <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </div>
      -->
          <router-outlet></router-outlet>
      </div>

    </mat-drawer-container>

</div>