<h2>esto es ciudad</h2>

<div class="container">
    <table mat-table [dataSource]="dataSourceCiudad" class="mat-elevation-z8">

        <!-- Position codigo -->
        <ng-container matColumnDef="codigo">
            <th mat-header-cell *matHeaderCellDef> Código. </th>
            <td mat-cell *matCellDef="let element"> {{element.idCiudad}} </td>
        </ng-container>

        <!-- Name nombre -->
        <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef> Nombre Ciduad </th>
            <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedCityColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedCityColumns;"></tr>
    </table>

    <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]" #cityPaginator></mat-paginator>

    
    <button mat-fab color="accent" style="float: right;" [routerLink]="['/departamento'] ">
        <mat-icon>arrow_left</mat-icon>
    </button>
    
</div>
