<form
  [formGroup]="formConductor"
  #formVehiculo="ngForm"
  (ngSubmit)="guardar()"
  class="container"
>
  <table class="example-full-width" cellspacing="0">
    <tr>
      <td>
        <mat-form-field class="example-full-width">
          <mat-label>Documento</mat-label>
          <input
            matInput
            placeholder="Documento"
            formControlName="documento"
            maxlength="13"
            type="number"
          />
          <mat-error *ngIf="documento.invalid && documento.errors.required"
            >Documento requerido</mat-error
          >
          <mat-error *ngIf="documento.invalid && documento.errors.pattern"
            >Solo se aceptan números</mat-error
          >
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="example-full-width">
          <mat-label>Nombre</mat-label>
          <input matInput placeholder="Nombre" formControlName="nombre" />
          <mat-error *ngIf="nombre.invalid && nombre.errors.required"
            >Nombre requerido</mat-error
          >
          <mat-error *ngIf="nombre.invalid && nombre.errors.pattern"
            >Solo se aceptan letras</mat-error
          >
        </mat-form-field>
      </td>
    </tr>
  </table>

  <table class="example-full-width" cellspacing="0">
    <tr>
      <td>
        <mat-form-field class="example-full-width">
          <mat-label>Apellido</mat-label>
          <input
            matInput
            placeholder="Apellido"
            formControlName="apellido"
            type="text"
            maxlength="13"
          />
          <mat-error *ngIf="apellido.invalid && apellido.errors.required"
            >Apellido requerido</mat-error
          >
          <mat-error *ngIf="apellido.invalid && apellido.errors.pattern"
            >Solo se aceptan letras</mat-error
          >
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="example-full-width">
          <mat-label>Usuario</mat-label>
          <input matInput placeholder="Usuario" formControlName="nick" />
          <mat-error *ngIf="nick.invalid && nick.errors.required"
            >Usuario requerido</mat-error
          >
          <mat-error *ngIf="nick.invalid && nick.errors.pattern"
            >Solo se aceptan letras y numeros</mat-error
          >
        </mat-form-field>
      </td>
    </tr>
  </table>

  <table class="example-full-width" cellspacing="0">
    <tr>
      <td>
        <mat-form-field class="example-full-width">
          <mat-label>Clave</mat-label>
          <input
            matInput
            placeholder="******"
            formControlName="clave"
            type="password"
            maxlength="15"
          />
          <mat-error *ngIf="clave.invalid && clave.errors.required"
            >Clave requerida</mat-error
          >
          <mat-error *ngIf="clave.invalid && clave.errors.pattern"
            >clave invalida</mat-error
          >
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="example-full-width">
          <mat-label>Direccion</mat-label>
          <input matInput placeholder="Direccion" formControlName="direccion" />
        </mat-form-field>
      </td>
    </tr>
  </table>

  <table class="example-full-width" cellspacing="0">
    <tr>
      <td>
        <mat-form-field class="example-full-width">
          <mat-label>Celular</mat-label>
          <input
            matInput
            placeholder="3143981579"
            formControlName="celular"
            type="number"
            maxlength="11"
          />
          <mat-error *ngIf="celular.invalid && celular.errors.required"
            >Celular requerido</mat-error
          >
          <mat-error *ngIf="celular.invalid && celular.errors.pattern"
            >Celular invalido</mat-error
          >
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="example-full-width">
          <mat-label>Telefono alternativo</mat-label>
          <input
            matInput
            placeholder="3215987814"
            formControlName="celularAux"
          />
          <mat-error *ngIf="celularAux.invalid && celularAux.errors.required"
            >Celular auxiliar requerido</mat-error
          >
          <mat-error *ngIf="celularAux.invalid && celularAux.errors.pattern"
            >Celular invalido</mat-error
          >
        </mat-form-field>
      </td>
    </tr>
  </table>

  <table class="example-full-width" cellspacing="0">
    <tr>
      <td>
        <mat-form-field class="example-full-width">
          <mat-label>Correo</mat-label>
          <input
            matInput
            placeholder="usuario@gmail.com"
            formControlName="correo"
            type="email"
            maxlength="20"
          />
          <mat-error *ngIf="correo.invalid && correo.errors.required"
            >Correo requerido</mat-error
          >
          <mat-error *ngIf="correo.invalid && correo.errors.pattern"
            >Correo invalido</mat-error
          >
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="example-full-width">
          <mat-label>Departamento</mat-label>
          <mat-select
            formControlName="departamento"
            [(value)]="idDepartamento"
            (selectionChange)="idDepar($event.value)"
          >
            <mat-option
              [value]="departamento.idDepartamento"
              *ngFor="let departamento of dataSource"
            >
              {{ departamento.nombre }}</mat-option
            >
          </mat-select>
        </mat-form-field>
      </td>
    </tr>
  </table>

  <table class="example-full-width" cellspacing="0">
    <tr>
      <td>
        <mat-form-field>
          <mat-label>Ciudades</mat-label>
          <mat-select formControlName="ciudadReg">
            <mat-option
              [value]="ciudad"
              *ngFor="let ciudad of dataSourceCiudad"
              >{{ ciudad.nombre }}</mat-option
            >
          </mat-select>
          <mat-error *ngIf="ciudadReg.invalid && ciudadReg.errors.required"
            >Debe seleccionar una ciudad</mat-error
          >
        </mat-form-field>
      </td>
    </tr>
  </table>

  <button
    mat-fab
    color="accent"
    type="submit"
    [disabled]="formConductor.invalid"
  >
    <mat-icon>person_add</mat-icon>
  </button>

  <button
    mat-fab
    color="accent"
    style="float: right"
    [routerLink]="['/conductor']"
  >
    <mat-icon>cancel</mat-icon>
  </button>
</form>
